button{
    background-color: rgb(103, 195, 164);
    color: black;
    border-radius: 7px;
    padding: 9px;
}


button:hover{
    background-color: rgb(50, 138, 109);
    color: white;

}

input{

border: 3px solid black;
border-radius: 8px;
padding: 9px;
}

h1{
    font-size: 60px;
    font-weight: 900;
}

